body{
    background-color: rgb(204, 204, 204);
}

html{
    scroll-behavior: smooth; /* Glatt scrolling */
    scroll-padding-top: 110px; /* Justerer hvor langt ned siden blar */
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    margin-top: 0px;
    text-align: center; /* Sentraliserer overskriften */
    font-size: xx-large; /* Stor skriftstørrelse */
    color: #ffffff; /* Mørk grå tekst */
    /*text-shadow: 0px 2px 5px rgb(255, 255, 255); /* Lett hvit skygge */
}

.logo{
    position: relative;
    position: fixed;
    display: flex;
    margin-top: 0;
    top: 25px;
    left: 70px;
    z-index: 10; /* Bakgrunnsnivå */
}



/* Øverste bilde på side 1 */
.Øverste-bilde{
    margin: 0; /* Fjerner marg */
    padding: 0; /* Fjerner padding */
    position: absolute; /* Plassering i forhold til sidens kanter */
    top: 0; /* Justerer til toppen av siden */
    left: 0; /* Justerer til venstre */
    width: 100%; /* Bildet dekker hele bredden */
    z-index: -1; /* Bakgrunnsnivå */
    display: flex;
    justify-content: center;
}



/* Meny som for scrolling */
.meny {
    position: fixed; /* Holder menyen på toppen av vinduet */
    top: 0px; /* 4 piksler fra toppen */
    right: 0; /* Plassering på høyre side */
    width: 100%; /* Menyen dekker 88% av bredden */
    background-color: #ffffff; /* Lys grå bakgrunn */
    padding: 20px 100px; /* Justerer indre avstand */
    box-shadow: -10px 10px 15px rgba(0, 0, 0, 0.466); /* Skygge */
    text-align: right; /* Sentrerer innholdet */
    border-radius: 3px; /* Runde hjørner */
    z-index: 1;
}

/* Stiler for lenkene i menyen */
.meny a {
    margin: 0 60px; /* Avstand mellom lenkene */
    text-decoration: none; /* Ingen understrekning */
    color: #000000; /* Svart tekst */
    padding: 20px 5px; /* Indre avstand */
    display: inline-block; /* Vises i samme linje */
    border-radius: 3px; /* Runde hjørner */
}

.meny a:hover {
    /*padding: 1px 1px; /* Justerer størrelsen ved hover */
    color: #9c9c9c; /* Hvit tekstfarge */
    /*background-color: #c0c0c0; /* Grå bakgrunn ved hover */
    text-decoration: none; /* Fjerner understrekning */
    border-radius: 3px; /* Runde hjørner */
}

/*Hvit bakgrunn bak teksten */
.Om-oss-bakgrunn {
    position: absolute;
    background-color: #696969; /* Grå bakgrunn med 80 % gjennomsiktighet */
    width: 100%; /* Dekker 70 % av bredden */
    margin: 0 auto; /* Sentrerer grå bakgrunn */
    margin-top: -15px;
    padding-top: 20px;
    padding-bottom: 15px;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.667); /* Skygge */
    min-height: 100px; /* Gjør at bakgrunn dekker hele sidehøyden */
    display: flex;
    flex-direction: column;
    align-items: center; /*Sentrerer bakgrunn*/
    color: #ffffff;
    text-align: center;
}


/*Hvit bakgrunn bak teksten */
.sentral-bakgrunn {
    background-color: #dbe5ff; /* Grå bakgrunn med 80 % gjennomsiktighet */
    width: 83%; /* Dekker 70 % av bredden */
    margin: 0 auto; /* Sentrerer grå bakgrunn */
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.667); /* Skygge */
    min-height: 100vh; /* Gjør at bakgrunn dekker hele sidehøyden */
    margin-top: 1px; /* Unngå overlapping med hoved-menyen */
    display: flex;
    flex-direction: column;
    align-items: center; /*Sentrerer bakgrunn*/
    text-align: center;
}

.bakgrunn-kontaktoss {
    background-color: #b6b6b6; /* Grå bakgrunn med 80 % gjennomsiktighet */
    width: 83%; /* Dekker 70 % av bredden */
    margin: 0 auto; /* Sentrerer grå bakgrunn */
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.667); /* Skygge */
    min-height: 100vh; /* Gjør at bakgrunn dekker hele sidehøyden */
    margin-top: 1px; /* Unngå overlapping med hoved-menyen */
    display: flex;
    flex-direction: column;
    align-items: center; /*Sentrerer bakgrunn*/
    text-align: center;
}

h5{
    margin-top: 0;
    font-size: 20px;
    font-weight: bold; 
}

/*Innstillinger til bilder fra bildegaleri */
.bilder img {
    transition: transform 0.3s ease, box-shadow 0.3s ease; /*Gjør animasjonen saktere*/
    box-shadow: 3px 3px 5px rgba(111, 111, 111, 0.607); /* Skygge */
    border-radius: 3px;
}

.bilder img:hover {
    transform: scale(1.03); /*Forstørrer ved Hover*/
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /*Legger til skygge*/
}

.Bilde-i-midten {
    display: flex;
    align-items: center;
    
}

.Om-oss {
    color: #000000;
}





.fordeller {
  display: flex; /*Plaserer punktene ved siden av hverandre*/
  margin: 50px auto;
}

.icon {
  font-size: 40px;
  color: #2c3e75; /* mørk blå farge */
  margin-bottom: 15px;
}

h4 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

p1 {
  font-size: 16px;
  line-height: 1.6;
  color: #000000;
}



.kontaktoss {
  display: flex; /*Plaserer punktene ved siden av hverandre*/
}

.icon1 {
  font-size: 27px;
  color: #383838; /* mørk blå farge */
  margin-bottom: 15px;
}

.icon {
  font-size: 22px;
  color: #383838; /* mørk blå farge */
  margin-bottom: 15px;
}

p5 {
  font-size: 18px;
  line-height: 1.6;
  color: #383838;
  padding-right: 50px;
}


.link-til-medier{
    display: flex; /*Plaserer ikonene ved siden av hverandre*/
    padding-top: 10px;
}

.facebook{
    padding-right: 10px;
}


/* Kontaktskjema */
.kontakt {
    max-width: 100%; /* Full bredde */
    margin: 0 auto; /* Sentraliserer skjemaet */
    font-family: Arial, sans-serif; /* Ren skrifttype */
    display: flex; /* Bruker flex for layout */
    justify-content: center; /* Sentrerer innholdet */
}

.kontakt table {
    width: 100%; /* Full bredde for tabellen */
}

.kontakt td {
    padding: 10px; /* Indre avstand i cellene */
    vertical-align: top; /* Justerer innholdet til toppen */
}

.kontakt input[type="text"],
.kontakt textarea {
    width: 300px; /* Full bredde for tekstfelt */
    padding: 10px; /* Indre avstand */
    border: 1px solid #ccc; /* Lys grå kantlinje */
    border-radius: 5px; /* Runde hjørner */
    font-size: 14px; /* Tekststørrelse */
}

.kontakt textarea {
    height: 100px; /* Endrer høyde */
    width: 300px; /* Endrer bredde */
}

.kontakt input[type="submit"] {
    background-color: #429eff; /* Blå bakgrunn */
    color: white; /* Hvit tekst */
    padding: 10px 20px; /* Indre avstand */
    border: none; /* Ingen kantlinje */
    border-radius: 5px; /* Runde hjørner */
    cursor: pointer; /* Klikkbart ikon */
    font-size: 16px; /* Større tekst */
}

.kontakt input[type="submit"]:hover {
    background-color: #a9a9a9; /* Grå bakgrunn ved hover */
}

.thin-line {
    width: 900px;
}

